.recipe-card {
    margin: 0.5rem;
    .MuiPaper-root {
        width: 10rempx;
    }
    .title {
        min-height: 6rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .recipe-modal {
        margin-right: 0.5rem;
        display: flex;
        justify-content: end;
    }
}